<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Welcome!</title>
    </head>

    <body style="background: #bbbbbb">
        <center>
            <div
                id=""
                style="
                    outline: #000000 solid thin;
                    background: #eeeeee;
                    font-size: 100%;
                    text-align: left;
                    padding: 4pt;
                    width: 80%;
                "
            >
                <p></p>
                <p>
                    <b
                        >Northeastern University, Khoury College of Computer and
                        Information Sciences</b
                    ><br />
                    <b>Name of Investigator(s): Seth Cooper</b><br />
                    <b
                        >Title of Project: Engagement and Effectiveness in Human
                        Computation and Entertainment Video Games</b
                    ><br />
                    <b>Version: v2021-2-10</b>
                </p>

                <p>
                    <b>Information Sheet</b>
                </p>

                <p>
                    We would like to invite you to participate in a web-based
                    online game. The game is part of a research study whose
                    purpose is to examine how participants play games and
                    analyze how different game designs can affect engagement and
                    performance. You may receive different game designs than
                    other participants. Your interaction data will be recorded
                    and analyzed. You may be asked to answer some questions
                    about your experience. This task may be open-ended but
                    should take less than 60 minutes to complete any required
                    portion.
                </p>

                <p>
                    We are asking you to participate in this study because you
                    are a member of a crowdsourcing platform.
                    <b
                        >You must be fluent in English and at least 18 years old
                        to participate.</b
                    >
                </p>

                <p>
                    <b
                        >The decision to participate in this research project is
                        voluntary.</b
                    >
                    You do not have to participate and you can refuse to
                    participate. Even if you begin the game, you can stop at any
                    time.
                </p>

                <p>
                    <b
                        >The risks or discomforts to you for taking part in this
                        study are low</b
                    >
                    and are similar to participating in online games or surveys.
                </p>

                <p>
                    <b
                        >There are no direct benefits to you from participating
                        in this study.</b
                    >
                    However, your participation may help us learn more about
                    engagement and performance in games.
                </p>

                <p>
                    <b
                        >For completing the task, you will receive a payment as
                        indicated on your crowdsourcing platform.</b
                    >
                </p>

                <p>
                    <b
                        >Your part in this study is anonymized to the
                        researchers. The only individually-identifying data we
                        receive from Mechanical Turk are your unique identifier
                        and your country. We will not save your unique
                        identifier or any other information that could be used
                        to uniquely identify you. We will not ask you any
                        questions that could be used to uniquely identify
                        you.</b
                    >
                    Any reports or publications based on this research will use
                    only anonymized data and will not identify you as being
                    affiliated with this project. Data that are completely
                    stripped of identifiable information may be made available
                    online or shared with other researchers. Your de-identified
                    information could be used for future research without
                    additional informed consent.
                    <b
                        >Your data are also stored on Mechanical Turk's servers,
                        and the data there are subject to the Amazon Mechanical
                        Turk Privacy Notice and Participation Agreement.</b
                    >
                    Some games are developed with Unity game engine, which has
                    its own policies.
                </p>

                <p>
                    <b
                        >If you have any questions regarding electronic
                        privacy,</b
                    >
                    please feel free to contact Mark Nardone, NU’s Director of
                    Information Security via phone at 617-373-7901, or via email
                    at privacy@neu.edu.
                </p>

                <p>
                    <b>If you have any questions about this study,</b> please
                    feel free to contact Seth Cooper, email:
                    seth.cooper.study@gmail.com, the person mainly responsible
                    for the research.
                </p>

                <p>
                    <b
                        >If you have any questions regarding your rights as a
                        research participant,</b
                    >
                    please contact Nan C. Regina, Director, Human Subject
                    Research Protection, Mail Stop: 560-177, Northeastern
                    University, Boston, MA 02115. Tel: 617-373-4588, Email:
                    n.regina@neu.edu. You may call anonymously if you wish.
                </p>

                <p>
                    <b
                        >This study has been reviewed and approved by the
                        Northeastern University Institutional Review Board
                        (#17-10-07).</b
                    >
                </p>

                <p>
                    <b
                        >Please note that the game may consume Internet data
                        allocation if played on mobile devices, just as any
                        other Internet game would.</b
                    >
                </p>

                <p>
                    <b
                        >By clicking on the “I Agree” link below you are
                        indicating that you consent to participate in this
                        study. Please print out a copy of this consent form for
                        your records.</b
                    >
                </p>

                <p>Thank you for your time.</p>

                <p>Seth Cooper</p>
            </div>

            <div>
                <h3><a href="#" id="linktogame">I Agree</a></h3>
            </div>
        </center>
    </body>
</html>
